<div class="main">
  <!-- Tytuł -->
  <div class="title">
    <div class="number" style="background: rgb(248, 145, 10, 0.5)">
      {{activeList.length}}
    </div>
    <p>Active</p>
  </div>

  <!-- Lista -->
  <div class="list">
    <ul>
      <li *ngFor="let task of activeList">
        <button (click)="done(task)" style="color: rgb(93, 160, 102);"><i class="far fa-square"></i></button>
        {{task | upper}}
        <button (click)="removeActive(task)"><i class="fas fa-trash-alt"></i></button>
      </li>
    </ul>
  </div>
</div>
