<div class="main">
  <!-- Tytuł -->
  <div class="title">
    <div class="number" style="background: rgb(248, 145, 10, 0.5)">
      {{activeList.length}}
    </div>
    <p>Active</p>
  </div>

  <!-- Lista -->
    <ul class="list">
      <li *ngFor="let task of activeList">
        <button class='check' (click)="done(task)" style="color: rgb(93, 160, 102);"><i class="far fa-square"></i></button>
        <span class="task">{{task | upper}}</span> 
        <button class="remove" (click)="removeActive(task)"><i class="fas fa-trash-alt"></i></button>
      </li>
    </ul>
 
</div>
