<div class="wrap">

<!-- Nagłówek -->
  <div class="title">
    <h1>To Do List</h1>
  </div>

  <!-- Wprowadzanie zadania -->
  <div class="input">
    <input type="text" [(ngModel)]="inputText" (keyup.enter)="add()">
    <button (click)="add()">Add task</button>
    <div class="color" (click)="color()"></div>
  </div>

  <div class="container">
    <!-- sekcja Zadań TO DO -->
    <app-todo-list [toDoList]="toDoList" (x)="removeToDo($event)" (z)="active($event)"></app-todo-list>
    <!-- Sekcja zadań ACTIVE -->   
    <app-active-list [activeList]="activeList" (q)="done($event)" (w)="removeActive($event)"></app-active-list>
    <!-- Seckja zadań DONE -->
    <app-done-list [doneList]="doneList" (e)="clear()"></app-done-list>
  </div>

</div>
