.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2vw;
  min-height: 25vh;
  font-family: 'Amatic SC', cursive;
  color: rgba(0, 0, 0, 0.52);

}

.header h1 {
  font-size: 5em;
 
}

.input {
  display: flex;
  /* min-height: 50%; */
}

.input input {
  width: 30vw;
  border: none;
  border-bottom: 4px solid rgba(0, 0, 0, 0.705);
  background-color: transparent;
  font-size: 35px;
  cursor: cell;
}

.input input:focus {
  caret-color: cornsilk;
  outline: none;
  border-bottom: 4px solid rgba(223, 219, 219, 0.438);
  font-weight: 600;
  color: whitesmoke;
}

.input button {
  border: 4px solid rgba(0, 0, 0, 0.705);
  background-color: transparent;
  font-size: 35px;
  color: rgba(0, 0, 0, 0.705);
  cursor: cell;
}

.input button:hover {
  background-color: rgba(255, 255, 255, 0.239);
}

.input span {
  border: 4px solid rgba(0, 0, 0, 0.849);
  background-color: rgba(255, 255, 255, 0.507);
  width: 60px;
  height: 60px;
  margin-left: 10px;
}

/* SECTION MAIN */
section{
  /* background-color: wheat; */
  min-height: 70vh;
  display: flex;
  justify-content: space-evenly;
 align-items: center;
}

section>div {
  background-color: rgba(236, 201, 85, 0.637);
  min-width: 24vw;
  color: rgba(255, 255, 255, 0.89);
  height: 200px;
}
