 <div class="inside">
  <!-- Tytuł -->
  <div class="title">
    <div class="number" style="background: rgba(93, 160, 102, 0.45);">
      {{doneList.length}}
    </div>
    <p>Done</p>
    <div class="number clear" (click)="clear()" style="background: rgba(93, 160, 102, 0.45);">
      <i class="fas fa-trash-alt"></i>
    </div>
  </div>

  <!-- Lista -->
  <div class="list">
    <ul>
      <li class='LiDone' *ngFor="let task of doneList">
        {{task |upper}}
      </li>
    </ul>
  </div>
</div>
