/* You can add global styles to this file, and also import other style files */
body{
    background-image: url('src/assets/img/black_1920.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family:'Patrick Hand SC', cursive;
}
li{
    list-style: none;
}

